<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/ask/ask.css"
</head>
<body>
    <div class="notice-list">
        <div class="myhome-nav">
            <nav class="myhome-nav__owner">
                <ul style="transform: translateX(0px);">
                    <li class="page-navigation__item">
                       <a>문의하기</a>
                    </li>
                    <li class="page-navigation__item">
                       <a>공지사항</a>
                    </li>
                </ul>
            </nav>
        </div>
        
    
    </div>
    <div class="css-7x5yj7">
        <div class="css-1khrhsf">
            <div class="css-l551j9 e1ejcer01 what"></div>
            <div class="subjectmx">
                <span class="dropdown_button"></span>
                <select class="css-6f0gu">
                    <option value="" hidden="" disabled="">주제를 선택해주세요(필수)</option><option value="0">크루문의</option><option value="1">여행문의</option><option value="2">다이어리문의</option><option value="3">상품주문문의</option>
                </select>
            </div>
            <div class="subjectmx">
                <span class="dropdown_button"></span>
                <select class="css-6f0gu">
                    <option value="" hidden="" disabled="">게시판을 선택해주세요(필수)</option>
                </select>
            </div>
            <div class="css-jnwr77 e1ejcer02 what"></div>
            <div class="css12">
                <input class="community-title-input" type="text" placeholder="제목을 입력해주세요." maxlength="60" value="">
                <div class="indicator">0 /60
                </div>
            </div>
        </div>
    </div>
    <div class="pcsdsm">
        <div class="css-14b06uj e1ullwfo1">
            <div class="e28muby0 css-vsfvi4 e1ullwfo0">
                <div class="etmfm8x1 css-95os37 e1guzkdb0">
                    <p class="etmfm8x0 e1co7t9f0 css-1iifh8u e1laqg910" contenteditable="true" data-ph="게시판을 먼저 선택해주세요."></p></div></div></div></div>

</body>
</html>