<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crew Station</title>
    <link rel="shortcut icon" href="../../../static/img/crew-station-icon.png" type="image/x-icon">
    <link rel="stylesheet" href="../../../static/css/font.css">
    <link rel="stylesheet" href="../../../static/css/mypage/my-diary/detail.css">
</head>
<body>
    <div class="content-container">
        <div class="content">
            <div class="content-wrap">
                <div class="crew-label-wrap">
                    <!-- 크루 이름 -->
                    <span class="crew-label">나는 짱</span>
                </div>
                <!-- 제목 -->
                <div class="title">
                    <h1>어디 어디 갔다온 날</h1>
                </div>
                <!-- 프로필 -->
                <div class="profile-container">
                    <a class="profile-a">
                        <div class="profile-img">
                            <img src="../../../static/images/crew-station-icon-profile.png">
                        </div>
                        <span id="name">CREW_STATION</span>
                    </a>
                </div>
                <!-- 내용 -->
                <div class="diary-content">
                    <span class="diary-content-text">
                        <span>
                            오늘은 어디 어디 갔다왔다!
                            <br>
                            너무 재미있었다~
                            <br>
                            다음에 또 가고 싶다
                        </span>
                    </span>
                </div>
                <div class="images-container">
                    <div class="images-wrap">
                        <div class="images">
                            <div class="images-inner">
                                <div class="image-items">
                                    <div class="image-wrap">
                                        <div class="image">
                                            <a href="">
                                                <img src="../../../static/images/diary-list-ex.jpeg">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="image-wrap">
                                        <div class="image">
                                            <a href="">
                                                <img src="../../../static/images/diary-list-ex.jpeg">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="image-wrap">
                                        <div class="image">
                                            <a href="">
                                                <img src="../../../static/images/diary-list-ex.jpeg">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="../../../static/js/mypage/my-diary/detail/event.js"></script>
</html>