<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CrewStation</title>
    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="stylesheet" href="/static/css/crew/crew-open.css">
</head>
<body>
    <div class="page">
        <div class="page-container">
            <div class="page-wrapper">
                <div class="sticky-container" style="position: sticky; top: 0px; transition: top 0.1s; z-index: 500;">
                    <div class="top-container" style="position: relative;">
                        <div class="top-bar-container">
                            <div class="top-bar">
                                <div class="top-bar-btn-container">
                                    <div class="top-bar-btn-wrapper">
                                        <div class="top-bar-btn-left">
                                            <div class="top-bar-btn-first">
                                                <button type="button" class="new-crew-open">
                                                    <span class="new-crew-check">임시저장</span>
                                                    <span class="new-crew">만들기</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="post-upload-img-container">
                    <div class="post-upload-img-wrapper">
                        <div class="top-term"></div>
                        <!-- 크루 팀원 초대 이메일 링크 -->
                         <div class="crew-member-invite">
                            <div class="open expanded" style="overflow: hidden;">
                                <div class="invite-link-container">
                                    <div class="invite-link-wrapper">
                                        <div class="invite-link-wrap">
                                            <div class="invite-text">크루 이메일</div>
                                            <div class="invite-email-input-container">
                                                <div class="invite-email-input-wrapper">
                                                    <div class="invite-email-input-wrap">
                                                        <div class="invite-email-input">
                                                            <div class="email-input-container">
                                                                <div class="email-input-wrapper">
                                                                    <!-- 여기부터 -->
                                                                    <input type="" class=""> 
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                         </div>
                        <!-- 이미지 업로드 -->
                        <div class="post-cover-img-container">
                            <div class="post-cover-img-wrapper">
                                <button type="button" class="cover-img-border">
                                    <p class="cover-img-message">
                                        <span class="cover-img-top-text">
                                            드래그 앤 드롭이나 추가하기 버튼으로
                                            <br>
                                        </span>
                                        커버 사진을 업로드해주세요.
                                    </p>
                                    <div class="img-btn-wrapper">커버 사진 추가하기</div>
                                </button>
                            </div>
                        </div>
                        <!-- 제목 입력 -->
                        <div class="post-title-container">
                            <input type="text" class="input-title" placeholder="제목을 입력해주세요." maxlength="80" value>
                            <div class="text-max-count">
                                0
                                /
                                80
                            </div>
                        </div>
                        <div class="essential-value">필수 입력 항목입니다.</div>
                    </div>
                </div>
                <div class="post-content-container">
                    <div class="post-content-wrapper">
                        <div class="input-content-wrapper">
                            <div class="input-content-wrap">
                                <p class="input-content" contenteditable="true" data-ph="내용을 입력해주세요.">

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=""></div>
                <div></div>
            </div>
        </div>
    </div>
</body>
<script src="/static/js/crew/crew-open/event.js"></script>
</html>