<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CrewStation</title>
    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="stylesheet" href="/static/css/crew/crew-recomend.css">
</head>
<body>
    <div class="page">
        <div class="page-container">
            <div class="layout">
                <!-- 서브 헤더 -->
                <header>
                    <div class="sticky-container" style="">
                        <div class="layout-navigation-secondary" style="position: relative; z-index: 1101;">
                            <div class="header-container">
                                <div class="header-wrapper">
                                    <nav class="header-wrap">
                                        <span class="header-list-wrapper">
                                            <div class="header-list-wrap">
                                                <!-- 현재 페이지 active 설정(파란 밑줄, 텍스트 색 변경) -->
                                                <a class="header-category active" href="/">
                                                    <div class="category">
                                                        <p class="header-name-check">전체</p>
                                                    </div>
                                                </a>
                                            </div>
                                        </span>
                                        <span class="header-list-wrapper">
                                            <div class="header-list-wrap">
                                                <a class="header-category" href="/">
                                                    <div class="category">
                                                        <p class="header-name">크루목록</p>
                                                    </div>
                                                </a>
                                            </div>
                                        </span>
                                        <span class="header-list-wrapper">
                                            <div class="header-list-wrap">
                                                <a class="header-category" href="/">
                                                    <div class="category">
                                                        <p class="header-name">롱크루</p>
                                                    </div>
                                                </a>
                                            </div>
                                        </span>
                                        <span class="header-list-wrapper">
                                            <div class="header-list-wrap">
                                                <a class="header-category" href="/">
                                                    <div class="category">
                                                        <p class="header-name">숏크루</p>
                                                    </div>
                                                </a>
                                            </div>
                                        </span>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
                <!-- 서브 헤더 -->
                <div class="post-wrapper">
                    <div class="total-post">
                        전체
                        234
                    </div>
                    <!-- 크루 목록 -->
                    <div class="post-list-container" style="padding-top: 0px; padding-bottom: 24912px; transform: translateY(0px);">
                        <!-- 크루 리스트 시작 -->
                         <!-- 무한 스크롤 -->
                        <div class="item">
                            <a href="/interior3ds/685a138c0e2faa2e3203ec5c">
                                <article class="post-list-wrapper">
                                    <div class="post-img-container">
                                        <img class="crew-img" alt="대표 이미지" src="https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=480&h=320&c=c&q=80&webp=1" srcset="https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=640&amp;h=427&amp;c=c&amp;q=80&amp;webp=1 1.5x,https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=850&amp;h=567&amp;c=c&amp;q=80&amp;webp=1 2x,https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=1280&amp;h=854&amp;c=c&amp;q=80&amp;webp=1 3x">
                                    </div>
                                    <div class="post-title-container">
                                        <h2 class="post-title">[크루모집] 크루원 모집 합니다.</h2>
                                        <div class="post-info-container">
                                            다이어리
                                            15
                                            <span class="text-dot">·</span>
                                            <span class="post-read">
                                                크루원
                                                5
                                            </span>
                                        </div>
                                    </div>
                                </article>
                            </a>
                        </div>
                        <div class="item">
                            <a href="/interior3ds/685a138c0e2faa2e3203ec5c">
                                <article class="post-list-wrapper">
                                    <div class="post-img-container">
                                        <img class="crew-img" alt="대표 이미지" src="https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=480&h=320&c=c&q=80&webp=1" srcset="https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=640&amp;h=427&amp;c=c&amp;q=80&amp;webp=1 1.5x,https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=850&amp;h=567&amp;c=c&amp;q=80&amp;webp=1 2x,https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=1280&amp;h=854&amp;c=c&amp;q=80&amp;webp=1 3x">
                                    </div>
                                    <div class="post-title-container">
                                        <h2 class="post-title">[크루모집] 크루원 모집 합니다.</h2>
                                        <div class="post-info-container">
                                            다이어리
                                            15
                                            <span class="text-dot">·</span>
                                            <span class="post-read">
                                                크루원
                                                5
                                            </span>
                                        </div>
                                    </div>
                                </article>
                            </a>
                        </div>
                        <div class="item">
                            <a href="/interior3ds/685a138c0e2faa2e3203ec5c">
                                <article class="post-list-wrapper">
                                    <div class="post-img-container">
                                        <img class="crew-img" alt="대표 이미지" src="https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=480&h=320&c=c&q=80&webp=1" srcset="https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=640&amp;h=427&amp;c=c&amp;q=80&amp;webp=1 1.5x,https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=850&amp;h=567&amp;c=c&amp;q=80&amp;webp=1 2x,https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=1280&amp;h=854&amp;c=c&amp;q=80&amp;webp=1 3x">
                                    </div>
                                    <div class="post-title-container">
                                        <h2 class="post-title">[크루모집] 크루원 모집 합니다.</h2>
                                        <div class="post-info-container">
                                            다이어리
                                            15
                                            <span class="text-dot">·</span>
                                            <span class="post-read">
                                                크루원
                                                5
                                            </span>
                                        </div>
                                    </div>
                                </article>
                            </a>
                        </div>
                        <div class="item">
                            <a href="/interior3ds/685a138c0e2faa2e3203ec5c">
                                <article class="post-list-wrapper">
                                    <div class="post-img-container">
                                        <img class="crew-img" alt="대표 이미지" src="https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=480&h=320&c=c&q=80&webp=1" srcset="https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=640&amp;h=427&amp;c=c&amp;q=80&amp;webp=1 1.5x,https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=850&amp;h=567&amp;c=c&amp;q=80&amp;webp=1 2x,https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=1280&amp;h=854&amp;c=c&amp;q=80&amp;webp=1 3x">
                                    </div>
                                    <div class="post-title-container">
                                        <h2 class="post-title">[크루모집] 크루원 모집 합니다.</h2>
                                        <div class="post-info-container">
                                            다이어리
                                            15
                                            <span class="text-dot">·</span>
                                            <span class="post-read">
                                                크루원
                                                5
                                            </span>
                                        </div>
                                    </div>
                                </article>
                            </a>
                        </div>
                        <div class="item">
                            <a href="/interior3ds/685a138c0e2faa2e3203ec5c">
                                <article class="post-list-wrapper">
                                    <div class="post-img-container">
                                        <img class="crew-img" alt="대표 이미지" src="https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=480&h=320&c=c&q=80&webp=1" srcset="https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=640&amp;h=427&amp;c=c&amp;q=80&amp;webp=1 1.5x,https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=850&amp;h=567&amp;c=c&amp;q=80&amp;webp=1 2x,https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=1280&amp;h=854&amp;c=c&amp;q=80&amp;webp=1 3x">
                                    </div>
                                    <div class="post-title-container">
                                        <h2 class="post-title">[크루모집] 크루원 모집 합니다.</h2>
                                        <div class="post-info-container">
                                            다이어리
                                            15
                                            <span class="text-dot">·</span>
                                            <span class="post-read">
                                                크루원
                                                5
                                            </span>
                                        </div>
                                    </div>
                                </article>
                            </a>
                        </div>
                        <div class="item">
                            <a href="/interior3ds/685a138c0e2faa2e3203ec5c">
                                <article class="post-list-wrapper">
                                    <div class="post-img-container">
                                        <img class="crew-img" alt="대표 이미지" src="https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=480&h=320&c=c&q=80&webp=1" srcset="https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=640&amp;h=427&amp;c=c&amp;q=80&amp;webp=1 1.5x,https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=850&amp;h=567&amp;c=c&amp;q=80&amp;webp=1 2x,https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=1280&amp;h=854&amp;c=c&amp;q=80&amp;webp=1 3x">
                                    </div>
                                    <div class="post-title-container">
                                        <h2 class="post-title">[크루모집] 크루원 모집 합니다.</h2>
                                        <div class="post-info-container">
                                            다이어리
                                            15
                                            <span class="text-dot">·</span>
                                            <span class="post-read">
                                                크루원
                                                5
                                            </span>
                                        </div>
                                    </div>
                                </article>
                            </a>
                        </div>
                        <div class="item">
                            <a href="/interior3ds/685a138c0e2faa2e3203ec5c">
                                <article class="post-list-wrapper">
                                    <div class="post-img-container">
                                        <img class="crew-img" alt="대표 이미지" src="https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=480&h=320&c=c&q=80&webp=1" srcset="https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=640&amp;h=427&amp;c=c&amp;q=80&amp;webp=1 1.5x,https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=850&amp;h=567&amp;c=c&amp;q=80&amp;webp=1 2x,https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=1280&amp;h=854&amp;c=c&amp;q=80&amp;webp=1 3x">
                                    </div>
                                    <div class="post-title-container">
                                        <h2 class="post-title">[크루모집] 크루원 모집 합니다.</h2>
                                        <div class="post-info-container">
                                            다이어리
                                            15
                                            <span class="text-dot">·</span>
                                            <span class="post-read">
                                                크루원
                                                5
                                            </span>
                                        </div>
                                    </div>
                                </article>
                            </a>
                        </div>
                        <div class="item">
                            <a href="/interior3ds/685a138c0e2faa2e3203ec5c">
                                <article class="post-list-wrapper">
                                    <div class="post-img-container">
                                        <img class="crew-img" alt="대표 이미지" src="https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=480&h=320&c=c&q=80&webp=1" srcset="https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=640&amp;h=427&amp;c=c&amp;q=80&amp;webp=1 1.5x,https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=850&amp;h=567&amp;c=c&amp;q=80&amp;webp=1 2x,https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=1280&amp;h=854&amp;c=c&amp;q=80&amp;webp=1 3x">
                                    </div>
                                    <div class="post-title-container">
                                        <h2 class="post-title">[크루모집] 크루원 모집 합니다.</h2>
                                        <div class="post-info-container">
                                            다이어리
                                            15
                                            <span class="text-dot">·</span>
                                            <span class="post-read">
                                                크루원
                                                5
                                            </span>
                                        </div>
                                    </div>
                                </article>
                            </a>
                        </div>
                        <div class="item">
                            <a href="/interior3ds/685a138c0e2faa2e3203ec5c">
                                <article class="post-list-wrapper">
                                    <div class="post-img-container">
                                        <img class="crew-img" alt="대표 이미지" src="https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=480&h=320&c=c&q=80&webp=1" srcset="https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=640&amp;h=427&amp;c=c&amp;q=80&amp;webp=1 1.5x,https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=850&amp;h=567&amp;c=c&amp;q=80&amp;webp=1 2x,https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=1280&amp;h=854&amp;c=c&amp;q=80&amp;webp=1 3x">
                                    </div>
                                    <div class="post-title-container">
                                        <h2 class="post-title">[크루모집] 크루원 모집 합니다.</h2>
                                        <div class="post-info-container">
                                            다이어리
                                            15
                                            <span class="text-dot">·</span>
                                            <span class="post-read">
                                                크루원
                                                5
                                            </span>
                                        </div>
                                    </div>
                                </article>
                            </a>
                        </div>
                        <div class="item">
                            <a href="/interior3ds/685a138c0e2faa2e3203ec5c">
                                <article class="post-list-wrapper">
                                    <div class="post-img-container">
                                        <img class="crew-img" alt="대표 이미지" src="https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=480&h=320&c=c&q=80&webp=1" srcset="https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=640&amp;h=427&amp;c=c&amp;q=80&amp;webp=1 1.5x,https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=850&amp;h=567&amp;c=c&amp;q=80&amp;webp=1 2x,https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=1280&amp;h=854&amp;c=c&amp;q=80&amp;webp=1 3x">
                                    </div>
                                    <div class="post-title-container">
                                        <h2 class="post-title">[크루모집] 크루원 모집 합니다.</h2>
                                        <div class="post-info-container">
                                            다이어리
                                            15
                                            <span class="text-dot">·</span>
                                            <span class="post-read">
                                                크루원
                                                5
                                            </span>
                                        </div>
                                    </div>
                                </article>
                            </a>
                        </div>
                        <div class="item">
                            <a href="/interior3ds/685a138c0e2faa2e3203ec5c">
                                <article class="post-list-wrapper">
                                    <div class="post-img-container">
                                        <img class="crew-img" alt="대표 이미지" src="https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=480&h=320&c=c&q=80&webp=1" srcset="https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=640&amp;h=427&amp;c=c&amp;q=80&amp;webp=1 1.5x,https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=850&amp;h=567&amp;c=c&amp;q=80&amp;webp=1 2x,https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=1280&amp;h=854&amp;c=c&amp;q=80&amp;webp=1 3x">
                                    </div>
                                    <div class="post-title-container">
                                        <h2 class="post-title">[크루모집] 크루원 모집 합니다.</h2>
                                        <div class="post-info-container">
                                            다이어리
                                            15
                                            <span class="text-dot">·</span>
                                            <span class="post-read">
                                                크루원
                                                5
                                            </span>
                                        </div>
                                    </div>
                                </article>
                            </a>
                        </div>
                        <div class="item">
                            <a href="/interior3ds/685a138c0e2faa2e3203ec5c">
                                <article class="post-list-wrapper">
                                    <div class="post-img-container">
                                        <img class="crew-img" alt="대표 이미지" src="https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=480&h=320&c=c&q=80&webp=1" srcset="https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=640&amp;h=427&amp;c=c&amp;q=80&amp;webp=1 1.5x,https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=850&amp;h=567&amp;c=c&amp;q=80&amp;webp=1 2x,https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=1280&amp;h=854&amp;c=c&amp;q=80&amp;webp=1 3x">
                                    </div>
                                    <div class="post-title-container">
                                        <h2 class="post-title">[크루모집] 크루원 모집 합니다.</h2>
                                        <div class="post-info-container">
                                            다이어리
                                            15
                                            <span class="text-dot">·</span>
                                            <span class="post-read">
                                                크루원
                                                5
                                            </span>
                                        </div>
                                    </div>
                                </article>
                            </a>
                        </div>
                        <div class="item">
                            <a href="/interior3ds/685a138c0e2faa2e3203ec5c">
                                <article class="post-list-wrapper">
                                    <div class="post-img-container">
                                        <img class="crew-img" alt="대표 이미지" src="https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=480&h=320&c=c&q=80&webp=1" srcset="https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=640&amp;h=427&amp;c=c&amp;q=80&amp;webp=1 1.5x,https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=850&amp;h=567&amp;c=c&amp;q=80&amp;webp=1 2x,https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=1280&amp;h=854&amp;c=c&amp;q=80&amp;webp=1 3x">
                                    </div>
                                    <div class="post-title-container">
                                        <h2 class="post-title">[크루모집] 크루원 모집 합니다.</h2>
                                        <div class="post-info-container">
                                            다이어리
                                            15
                                            <span class="text-dot">·</span>
                                            <span class="post-read">
                                                크루원
                                                5
                                            </span>
                                        </div>
                                    </div>
                                </article>
                            </a>
                        </div>
                        <div class="item">
                            <a href="/interior3ds/685a138c0e2faa2e3203ec5c">
                                <article class="post-list-wrapper">
                                    <div class="post-img-container">
                                        <img class="crew-img" alt="대표 이미지" src="https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=480&h=320&c=c&q=80&webp=1" srcset="https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=640&amp;h=427&amp;c=c&amp;q=80&amp;webp=1 1.5x,https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=850&amp;h=567&amp;c=c&amp;q=80&amp;webp=1 2x,https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=1280&amp;h=854&amp;c=c&amp;q=80&amp;webp=1 3x">
                                    </div>
                                    <div class="post-title-container">
                                        <h2 class="post-title">[크루모집] 크루원 모집 합니다.</h2>
                                        <div class="post-info-container">
                                            다이어리
                                            15
                                            <span class="text-dot">·</span>
                                            <span class="post-read">
                                                크루원
                                                5
                                            </span>
                                        </div>
                                    </div>
                                </article>
                            </a>
                        </div>
                        <div class="item">
                            <a href="/interior3ds/685a138c0e2faa2e3203ec5c">
                                <article class="post-list-wrapper">
                                    <div class="post-img-container">
                                        <img class="crew-img" alt="대표 이미지" src="https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=480&h=320&c=c&q=80&webp=1" srcset="https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=640&amp;h=427&amp;c=c&amp;q=80&amp;webp=1 1.5x,https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=850&amp;h=567&amp;c=c&amp;q=80&amp;webp=1 2x,https://prs.ohousecdn.com/apne2/content/uploads/interior3ds/cover_images/v1-383827414605952.png?w=1280&amp;h=854&amp;c=c&amp;q=80&amp;webp=1 3x">
                                    </div>
                                    <div class="post-title-container">
                                        <h2 class="post-title">[크루모집] 크루원 모집 합니다.</h2>
                                        <div class="post-info-container">
                                            다이어리
                                            15
                                            <span class="text-dot">·</span>
                                            <span class="post-read">
                                                크루원
                                                5
                                            </span>
                                        </div>
                                    </div>
                                </article>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/static/js/crew/crew-recomend/event.js"></script>
</html>