<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CrewStation</title>
    <link rel="stylesheet" href="/static/css/crew/long-detail.css">
</head>
<body>
    <div id="__next">
        <div class="page">
            <div class="page-container">
                <div class="page-wrapper">
                    <div class="page-wrap">
                        <div class="page-title">
                            <div class="post-title">
                                <div post-tag-container>
                                    <span size="20" class="post tag">롱크루</span>
                                </div>
                                <div class="title-container">
                                    <h1 class="title">저 혼자 보기 아까워 올리는 침실 사진</h1>
                                </div>
                                <div class="profile-container">
                                    <a href="https://ohou.se/users/2533827" class="profile-wrapper">
                                        <div class="profile-img" size="40">
                                            <img src="https://prs.ohousecdn.com/apne2/home/profileImageUrl/v1-395238621663360.jpg?w=72" srcset="https://prs.ohousecdn.com/apne2/home/profileImageUrl/v1-395238621663360.jpg?w=108 1.5x,https://prs.ohousecdn.com/apne2/home/profileImageUrl/v1-395238621663360.jpg?w=144 2x,https://prs.ohousecdn.com/apne2/home/profileImageUrl/v1-395238621663360.jpg?w=216 3x" alt="아바타 사진" class="css-1jjjg2j" aria-label="avatar" style="width: 100%; height: 100%; border-radius: 50%;">
                                        </div>
                                        <span class="profile-info">
                                            <span class="nickname">__d.house</span>
                                            <span class="profile-content">트렌드 크리에이터✨외국계주방용품MD✨...</span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="post-content-container">
                                <span class="post-content">
                                    <span>
                                        아파트에서 낼 수 있는 외국감성
                                        <br>
                                        <a href="https://ozip.me/Gm3OghN?af" target="_blank" rel="noopener noreferrer">https://ozip.me/Gm3OghN?af</a>
                                    </span>
                                </span>
                            </div>
                            <div class="post-img-container">
                                <span>
                                    <div class="post-imgs">
                                        <div class="post-img">
                                            <img src="https://prs.ohousecdn.com/apne2/content/community/v1-414415560843392.jpg?w=720" srcset="https://prs.ohousecdn.com/apne2/content/community/v1-414415560843392.jpg?w=1080 1.5x,https://prs.ohousecdn.com/apne2/content/community/v1-414415560843392.jpg?w=1440 2x,https://prs.ohousecdn.com/apne2/content/community/v1-414415560843392.jpg?w=2160 3x" alt="" class="emaw3ja1 css-1hdo71s">
                                        </div>
                                    </div>
                                </span>
                            </div>
                            <div class="sub-content-container">
                                <span class="sub-content">
                                    <span>
                                        예쁘지않나요..!
                                        <br>
                                        제작해서 넣은 나무 창이에요
                                    </span>
                                </span>
                            </div>
                            <div>
                                <div class="post-info-container">
                                    <dl class="post-info">
                                        <span class="post-time">
                                            18시간
                                        </span>
                                        <dt class="post-like">좋아요</dt>
                                        <dd class="post-like-count">6</dd>
                                        <dt class="post-read">
                                            조회
                                        </dt>
                                        <dd class="post-read-count">419</dd>
                                    </dl>
                                    <div class="report-container">
                                        <button type="button" class="reply-report-button">신고하기</button>
                                    </div>
                                </div>
                            </div>
                            <!-- 하단 댓글 부분 -->
                            <div>
                                <section class="reply-section-container">
                                    <div class="reply-count-container">
                                        <h2 class="reply-count-wrapper">
                                            댓글
                                            <span class="reply-count">3</span>
                                        </h2>
                                    </div>
                                        <!-- 댓글 입력 부분 -->
                                        <div class="reply-input-container">
                                            <div class="reply-input-wrapper">
                                                <img src="https://image.ohousecdn.com/i/bucketplace-v2-development/uploads/users/profile_images/170525762462519619.jpeg?w=256&amp;h=256&amp;c=c" srcset="https://image.ohousecdn.com/i/bucketplace-v2-development/uploads/users/profile_images/170525762462519619.jpeg?w=384&amp;h=384&amp;c=c 1.5x,https://image.ohousecdn.com/i/bucketplace-v2-development/uploads/users/profile_images/170525762462519619.jpeg?w=512&amp;h=512&amp;c=c 2x,https://image.ohousecdn.com/i/bucketplace-v2-development/uploads/users/profile_images/170525762462519619.jpeg?w=768&amp;h=768&amp;c=c 3x" alt="댓글 유저 이미지" class="reply-profile-img">
                                                <div class="reply-input-wrap">
                                                    <div class="reply-input">
                                                        <div class="reply-input-content-title">
                                                            <!-- 댓글 작성 부분 -->
                                                            <div contenteditable="true" class="reply-input-content" data-placeholder="칭찬과 격려의 댓글은 작성자에게 큰 힘이 됩니다" id="textarea" size="44">

                                                            </div>
                                                            <div class="input-check">
                                                                <button type="submit" class="input-btn" disabled>
                                                                    입력
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- 게시글 달리 댓글 들 -->
                                        <div class="post-content-reply-container">
                                            <div class="post-content-reply-wrapper">
                                                <div class="reply-profile">
                                                    <img src="https://prs.ohousecdn.com/apne2/home/profileImageUrl/v1-361485688401984.jpg?w=256&amp;h=256&amp;c=c" srcset="https://prs.ohousecdn.com/apne2/home/profileImageUrl/v1-361485688401984.jpg?w=384&amp;h=384&amp;c=c 1.5x,https://prs.ohousecdn.com/apne2/home/profileImageUrl/v1-361485688401984.jpg?w=512&amp;h=512&amp;c=c 2x,https://prs.ohousecdn.com/apne2/home/profileImageUrl/v1-361485688401984.jpg?w=768&amp;h=768&amp;c=c 3x" class="eokevko4 css-1a8dy4d">
                                                </div>
                                                <div class="content-container">
                                                    <div class="content-nickname-wrapper">
                                                        <div role="link" class="content-nickname">
                                                            Viewpoint_
                                                        </div>
                                                    </div>
                                                    <div class="content-title">
                                                        <span>안녕하세요 너무 이뻐요</span>
                                                    </div>
                                                    <div class="content-info">
                                                        <div class="info-time">5시간</div>
                                                        <div class="info-likes-container">
                                                            <div class="info-likes">
                                                                <button type="button" class="likes-btn">
                                                                    <span class="_heart_outline_16 heart"></span>
                                                                    <span class="heart-count">1</span>
                                                                </button>
                                                            </div>
                                                        </div>
                                                        <div class="content-reports-container">
                                                            <div class="content-report"></div>
                                                            <button type="button" class="reply-report-button">신고</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="post-content-reply-container"></div>
                                        <!-- 댓글 갯수 페이징 -->
                                        <div class="post-reply-page-container">
                                            <button class="left-arrow-wrap" disabled>
                                                <span class="_chevron_left_18 left-arrow ">

                                                </span>
                                            </button>
                                            <button class="page-number-btn">1</button>
                                            <button class="right-arrow-wrap" disabled>
                                                <span class="_chevron_right_18 right-arrow">

                                                </span>
                                            </button>
                                        </div>
                                </section>
                            </div>
                        </div>
                        <!-- 우측 좋아요 링크 댓글 버튼 -->
                         <div class="right-menu-container">
                            <div class="sticky-container" style="position: sticky; top: 50px; transition: top 0.1s;">
                                <div style="position: relative;">
                                    <div class="right-menu-wrapper">
                                        <button title="좋아요" class="menu likes">
                                            <span class="menu-likes likes-container">
                                                <span class="_heart_outline_24 menu-heart">
                                                    <span class="_heart_24 menu-heart-check"></span>
                                                </span>
                                            </span>
                                            <span class="menu-count">6</span>
                                        </button>
                                        <hr class="menu-term">
                                        <!-- 우측 메뉴 댓글 부분 -->
                                        <button title="댓글" class="menu-reply-container">
                                            <span class="menu-reply-wrapper">
                                                <span class="_comment_outline_24 menu-comment"></span>
                                            </span>
                                            <span class="menu-count">3</span>
                                        </button>
                                        <button title="공유" class="menu-share-container">
                                            <span class="menu-reply-wrapper">
                                                <span class="_share_24 menu-comment"></span>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                         </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="wp_tg_cts" style="display: none;"></div>
        <div>
            <div class="report-modal">
                <div class="modal-container">
                    <div class="modal-header">
                        <span class="modal-title">
                            신고 사유를 선택해주세요
                        </span>
                        <button class="close-button">
                            <span class="close-button-span"></span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <ul class="report-content-container">
                            <li class="report-content">
                                <label for="report" class="content-label">
                                    <div class="radio-button active">
                                        <input type="radio" name="주제" class="radio">
                                    </div>
                                    <span class="content">주제에 맞지 않아요</span>
                                </label>
                            </li>
                            <li class="report-content">
                                <label for="report" class="content-label">
                                    <div class="radio-button">
                                        <input type="radio" name="정보" class="radio">
                                    </div>
                                    <span class="content">정보가 부정확해요</span>
                                </label>
                            </li>
                            <li class="report-content">
                                <label for="report" class="content-label">
                                    <div class="radio-button">
                                        <input type="radio" name="광고" class="radio">
                                    </div>
                                    <span class="content">지나치게 광고를 해요</span>
                                </label>
                            </li>
                            <li class="report-content">
                                <label for="report" class="content-label">
                                    <div class="radio-button">
                                        <input type="radio" name="도배" class="radio">
                                    </div>
                                    <span class="content">이 글로 도배가 돼있어요</span>
                                </label>
                            </li>
                            <li class="report-content">
                                <label for="report" class="content-label">
                                    <div class="radio-button">
                                        <input type="radio" name="저작권" class="radio">
                                    </div>
                                    <span class="content">저작권 침해가 우려돼요</span>
                                </label>
                            </li>
                            <li class="report-content">
                                <label for="report" class="content-label">
                                    <div class="radio-button">
                                        <input type="radio" name="명예" class="radio">
                                    </div>
                                    <span class="content">명예를 훼손하는 내용이에요</span>
                                </label>
                            </li>
                            <li class="report-content">
                                <label for="report" class="content-label">
                                    <div class="radio-button">
                                        <input type="radio" name="욕설" class="radio">
                                    </div>
                                    <span class="content">욕설이나 비방이 심해요</span>
                                </label>
                            </li>
                            <li class="report-content">
                                <label for="report" class="content-label">
                                    <div class="radio-button">
                                        <input type="radio" name="외설" class="radio">
                                    </div>
                                    <span class="content">외설적인 내용이 포함돼있어요</span>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="modal-button">
                        <div class="modal-button-wrap">
                            <button class="report-button-send">신고하기</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="toast">
            <div class="toast-wrap">
                <p class="toast-text">클립보드에 복사되었습니다.</p>
            </div>
        </div>
    </div>
</body>
<script src="/static/js/crew/long-detail/event.js"></script>
</html>