<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CrewStation</title>
    <link rel="stylesheet" href="/static/css/crew/crewList.css">
</head>
<body>
    <div class="page">
        <div class="css-75lrwi">
            <div class="layout">
                <div class="css-14td677 e1ixivdu3">
                    <div class="e4cq32f2 css-nnyuhr">
                        <div class="css-14vj981">
                            <div class="css-dlv2hg">
                                <div class="css-147wp72">
                                    <strong class="css-1d0kvw3">추천 크루🔥</strong>
                                </div>
                                <div class="css-1b0htg7">
                                    <span class="css-1384ga9">가입할 크루를 추천해드려요</span>
                                </div>
                            </div>
                            <div class="css-7z0c8w">
                                <button type="button" class="css-1x7qv6q">더보기</button>
                            </div>
                        </div>
                        <div class="css-gkfaqp e4cq32f1">
                            <div class="css-bjn8wh">
                                <div class="css-3q4ecs">
                                    <!--  추천 목록 리스트 -->
                                    <ul class="css-5n3mug">
                                        <li class="css-3qi6pg">
                                            <div class="css-fyyvpx e1fm144d2">
                                                <div class="e1fm144d10 css-v414oq e193wc2k3">
                                                    <img src="https://prs.ohousecdn.com/apne2/content/community/v1-388387809890432.jpg?w=360&amp;h=481&amp;c=c" srcset="https://prs.ohousecdn.com/apne2/content/community/v1-388387809890432.jpg?w=540&amp;h=721.5&amp;c=c 1.5x,https://prs.ohousecdn.com/apne2/content/community/v1-388387809890432.jpg?w=720&amp;h=962&amp;c=c 2x,https://prs.ohousecdn.com/apne2/content/community/v1-388387809890432.jpg?w=1080&amp;h=1443&amp;c=c 3x" 
                                                    class="e193wc2k2 css-gnpvt2">
                                                    <!-- 사진 안에 프로필 -->
                                                    <div class="css-bkonhm e193wc2k0">
                                                        <div class="css-s5xdrg e1fm144d8">
                                                            <div class="css-7nmw3w e1fm144d6">
                                                                <img src="https://prs.ohousecdn.com/apne2/home/profileImageUrl/v1-386807451877504.jpg?w=36" srcset="https://prs.ohousecdn.com/apne2/home/profileImageUrl/v1-386807451877504.jpg?w=54 1.5x,https://prs.ohousecdn.com/apne2/home/profileImageUrl/v1-386807451877504.jpg?w=72 2x,https://prs.ohousecdn.com/apne2/home/profileImageUrl/v1-386807451877504.jpg?w=108 3x" 
                                                                class="e1fm144d5 css-1auwp8u">
                                                            </div>
                                                            <span class="css-ihb3jd e1fm144d7">크루명</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a class="css-11ab5xd e1fm144d0" href=""></a>
                                            </div>
                                        </li>
                                        <li class="css-3qi6pg">
                                            <div class="css-fyyvpx e1fm144d2">
                                                <div class="e1fm144d10 css-v414oq e193wc2k3">
                                                    <img src="https://prs.ohousecdn.com/apne2/content/community/v1-388387809890432.jpg?w=360&amp;h=481&amp;c=c" srcset="https://prs.ohousecdn.com/apne2/content/community/v1-388387809890432.jpg?w=540&amp;h=721.5&amp;c=c 1.5x,https://prs.ohousecdn.com/apne2/content/community/v1-388387809890432.jpg?w=720&amp;h=962&amp;c=c 2x,https://prs.ohousecdn.com/apne2/content/community/v1-388387809890432.jpg?w=1080&amp;h=1443&amp;c=c 3x" 
                                                    class="e193wc2k2 css-gnpvt2">
                                                    <!-- 사진 안에 프로필 -->
                                                    <div class="css-bkonhm e193wc2k0">
                                                        <div class="css-s5xdrg e1fm144d8">
                                                            <div class="css-7nmw3w e1fm144d6">
                                                                <img src="https://prs.ohousecdn.com/apne2/home/profileImageUrl/v1-386807451877504.jpg?w=36" srcset="https://prs.ohousecdn.com/apne2/home/profileImageUrl/v1-386807451877504.jpg?w=54 1.5x,https://prs.ohousecdn.com/apne2/home/profileImageUrl/v1-386807451877504.jpg?w=72 2x,https://prs.ohousecdn.com/apne2/home/profileImageUrl/v1-386807451877504.jpg?w=108 3x" 
                                                                class="e1fm144d5 css-1auwp8u">
                                                            </div>
                                                            <span class="css-ihb3jd e1fm144d7">크루명</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a class="css-11ab5xd e1fm144d0" href=""></a>
                                            </div>
                                        </li>
                                        <li class="css-3qi6pg">
                                            <div class="css-fyyvpx e1fm144d2">
                                                <div class="e1fm144d10 css-v414oq e193wc2k3">
                                                    <img src="https://prs.ohousecdn.com/apne2/content/community/v1-388387809890432.jpg?w=360&amp;h=481&amp;c=c" srcset="https://prs.ohousecdn.com/apne2/content/community/v1-388387809890432.jpg?w=540&amp;h=721.5&amp;c=c 1.5x,https://prs.ohousecdn.com/apne2/content/community/v1-388387809890432.jpg?w=720&amp;h=962&amp;c=c 2x,https://prs.ohousecdn.com/apne2/content/community/v1-388387809890432.jpg?w=1080&amp;h=1443&amp;c=c 3x" 
                                                    class="e193wc2k2 css-gnpvt2">
                                                    <!-- 사진 안에 프로필 -->
                                                    <div class="css-bkonhm e193wc2k0">
                                                        <div class="css-s5xdrg e1fm144d8">
                                                            <div class="css-7nmw3w e1fm144d6">
                                                                <img src="https://prs.ohousecdn.com/apne2/home/profileImageUrl/v1-386807451877504.jpg?w=36" srcset="https://prs.ohousecdn.com/apne2/home/profileImageUrl/v1-386807451877504.jpg?w=54 1.5x,https://prs.ohousecdn.com/apne2/home/profileImageUrl/v1-386807451877504.jpg?w=72 2x,https://prs.ohousecdn.com/apne2/home/profileImageUrl/v1-386807451877504.jpg?w=108 3x" 
                                                                class="e1fm144d5 css-1auwp8u">
                                                            </div>
                                                            <span class="css-ihb3jd e1fm144d7">크루명</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a class="css-11ab5xd e1fm144d0" href=""></a>
                                            </div>
                                        </li>
                                        <li class="css-3qi6pg">
                                            <div class="css-fyyvpx e1fm144d2">
                                                <div class="e1fm144d10 css-v414oq e193wc2k3">
                                                    <img src="https://prs.ohousecdn.com/apne2/content/community/v1-388387809890432.jpg?w=360&amp;h=481&amp;c=c" srcset="https://prs.ohousecdn.com/apne2/content/community/v1-388387809890432.jpg?w=540&amp;h=721.5&amp;c=c 1.5x,https://prs.ohousecdn.com/apne2/content/community/v1-388387809890432.jpg?w=720&amp;h=962&amp;c=c 2x,https://prs.ohousecdn.com/apne2/content/community/v1-388387809890432.jpg?w=1080&amp;h=1443&amp;c=c 3x" 
                                                    class="e193wc2k2 css-gnpvt2">
                                                    <!-- 사진 안에 프로필 -->
                                                    <div class="css-bkonhm e193wc2k0">
                                                        <div class="css-s5xdrg e1fm144d8">
                                                            <div class="css-7nmw3w e1fm144d6">
                                                                <img src="https://prs.ohousecdn.com/apne2/home/profileImageUrl/v1-386807451877504.jpg?w=36" srcset="https://prs.ohousecdn.com/apne2/home/profileImageUrl/v1-386807451877504.jpg?w=54 1.5x,https://prs.ohousecdn.com/apne2/home/profileImageUrl/v1-386807451877504.jpg?w=72 2x,https://prs.ohousecdn.com/apne2/home/profileImageUrl/v1-386807451877504.jpg?w=108 3x" 
                                                                class="e1fm144d5 css-1auwp8u">
                                                            </div>
                                                            <span class="css-ihb3jd e1fm144d7">크루명</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a class="css-11ab5xd e1fm144d0" href=""></a>
                                            </div>
                                        </li>
                                        <li class="css-3qi6pg">
                                            <div class="css-fyyvpx e1fm144d2">
                                                <div class="e1fm144d10 css-v414oq e193wc2k3">
                                                    <img src="https://prs.ohousecdn.com/apne2/content/community/v1-388387809890432.jpg?w=360&amp;h=481&amp;c=c" srcset="https://prs.ohousecdn.com/apne2/content/community/v1-388387809890432.jpg?w=540&amp;h=721.5&amp;c=c 1.5x,https://prs.ohousecdn.com/apne2/content/community/v1-388387809890432.jpg?w=720&amp;h=962&amp;c=c 2x,https://prs.ohousecdn.com/apne2/content/community/v1-388387809890432.jpg?w=1080&amp;h=1443&amp;c=c 3x" 
                                                    class="e193wc2k2 css-gnpvt2">
                                                    <!-- 사진 안에 프로필 -->
                                                    <div class="css-bkonhm e193wc2k0">
                                                        <div class="css-s5xdrg e1fm144d8">
                                                            <div class="css-7nmw3w e1fm144d6">
                                                                <img src="https://prs.ohousecdn.com/apne2/home/profileImageUrl/v1-386807451877504.jpg?w=36" srcset="https://prs.ohousecdn.com/apne2/home/profileImageUrl/v1-386807451877504.jpg?w=54 1.5x,https://prs.ohousecdn.com/apne2/home/profileImageUrl/v1-386807451877504.jpg?w=72 2x,https://prs.ohousecdn.com/apne2/home/profileImageUrl/v1-386807451877504.jpg?w=108 3x" 
                                                                class="e1fm144d5 css-1auwp8u">
                                                            </div>
                                                            <span class="css-ihb3jd e1fm144d7">크루명</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a class="css-11ab5xd e1fm144d0" href=""></a>
                                            </div>
                                        </li>
                                        <li class="css-3qi6pg">
                                            <div class="css-fyyvpx e1fm144d2">
                                                <div class="e1fm144d10 css-v414oq e193wc2k3">
                                                    <img src="https://prs.ohousecdn.com/apne2/content/community/v1-388387809890432.jpg?w=360&amp;h=481&amp;c=c" srcset="https://prs.ohousecdn.com/apne2/content/community/v1-388387809890432.jpg?w=540&amp;h=721.5&amp;c=c 1.5x,https://prs.ohousecdn.com/apne2/content/community/v1-388387809890432.jpg?w=720&amp;h=962&amp;c=c 2x,https://prs.ohousecdn.com/apne2/content/community/v1-388387809890432.jpg?w=1080&amp;h=1443&amp;c=c 3x" 
                                                    class="e193wc2k2 css-gnpvt2">
                                                    <!-- 사진 안에 프로필 -->
                                                    <div class="css-bkonhm e193wc2k0">
                                                        <div class="css-s5xdrg e1fm144d8">
                                                            <div class="css-7nmw3w e1fm144d6">
                                                                <img src="https://prs.ohousecdn.com/apne2/home/profileImageUrl/v1-386807451877504.jpg?w=36" srcset="https://prs.ohousecdn.com/apne2/home/profileImageUrl/v1-386807451877504.jpg?w=54 1.5x,https://prs.ohousecdn.com/apne2/home/profileImageUrl/v1-386807451877504.jpg?w=72 2x,https://prs.ohousecdn.com/apne2/home/profileImageUrl/v1-386807451877504.jpg?w=108 3x" 
                                                                class="e1fm144d5 css-1auwp8u">
                                                            </div>
                                                            <span class="css-ihb3jd e1fm144d7">크루명</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a class="css-11ab5xd e1fm144d0" href=""></a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <!-- 롱크루, 숏크루 목록 -->
                                <div class="sticky-container" style= "position: sticky; top: 0px; transition: top 0.1s; z-index: 100;">
                                    <div style="position: relative;">
                                        <div class="css-1xpc1g">
                                            <h2 class="css-18ubpkc">롱크루, 숏크루 목록</h2>
                                            <!-- 상단 오른쪽 카테고리 선택 -->
                                            <div class="css-nhzzm2">
                                                <button class="css-ygosan e1uvz2c70">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" fill="currentColor" viewBox="0 0 18 18" color="#828C94"><path fill-rule="evenodd" d="M15.566 4.935a.8.8 0 0 1 0 1.13l-8 8a.8.8 0 0 1-1.132 0l-4-4a.8.8 0 0 1 1.132-1.13L7 12.369l7.434-7.434a.8.8 0 0 1 1.132 0" clip-rule="evenodd"></path></svg>
                                                    <span>일간</span>
                                                </button>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="4" fill="currentColor" viewBox="0 0 18 18" color="#C2C8CC"><path d="M16.5 9a7.5 7.5 0 1 1-15 0 7.5 7.5 0 0 1 15 0"></path></svg>
                                                <button class="css-ygosan e1uvz2c70">
                                                    <span class="css-j3isp9">주간</span>
                                                </button>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="4" fill="currentColor" viewBox="0 0 18 18" color="#C2C8CC"><path d="M16.5 9a7.5 7.5 0 1 1-15 0 7.5 7.5 0 0 1 15 0"></path></svg>
                                                <button class="css-ygosan e1uvz2c70">
                                                    <span class="css-j3isp9">월간</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="css-1jv05la">
                                    <!-- 롱크루, 숏크루 리스트 -->
                                    <div class="css-j7qwjs">
                                        <a href="/community/posts/%EB%9F%AC%EA%B7%B8%EB%A5%BC-%EB%8B%A4%EB%A5%B8-%EC%83%89%EC%9C%BC%EB%A1%9C-%EB%B0%94%EA%BF%80%EC%A7%80-%EA%B3%A0%EB%AF%BC%EC%9E%85%EB%8B%88%EB%8B%A4-413303704252416">
                                            <div class="eh1ttt0 css-q5kvxs">
                                                <div class="css-fcukdp eh1ttt1">
                                                    <div class="css-3pjyjs">
                                                        <div class="css-1ytovu8">
                                                            <div class="css-j7qwjs">
                                                                <div class="css-kuvu0c">
                                                                    <div class="css-mpgf80">
                                                                        <span textcolor="#828C94" class="e80g7ye0 css-m72o2p">가구</span>
                                                                    </div>
                                                                </div>
                                                                <div layout="list" type="title" class="e1868rkl0 css-o67oi4">
                                                                    <span class="css-1avgy1j">러그를 다른 색으로 바꿀지 고민입니다</span>
                                                                </div>
                                                            </div>
                                                            <div layout="list" class="eld2w7q0 css-t0jkao">
                                                                <span class="css-1ecsbek">
                                                                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAQSURBVHgBAQUA+v8AAAAAAAAFAAFkeJU4AAAAAElFTkSuQmCC" class="css-1xq3tbi" alt=""></span>
                                                                </div>
                                                            </div>
                                                            <div class="css-1qfcwgl">
                                                                <div class="css-30x82r">
                                                                    <span class="e1slfuo51 css-1nz6t5q">건즈ㅡ</span>
                                                                    <span class="e1slfuo50 css-1oxvqlq e78z9x80"></span>
                                                                    <span class="e1slfuo51 css-1nz6t5q">18시간</span>
                                                                    <span class="e1slfuo50 css-1oxvqlq e78z9x80"></span>
                                                                    <span class="e1slfuo51 css-1nz6t5q">조회 236</span>
                                                                    <span class="e1slfuo50 css-1oxvqlq e78z9x80"></span>
                                                                </div>
                                                                <div class="css-30x82r">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" class="ey1aqhe0 css-bsbdow"><path fill="#2F3438" fill-rule="evenodd" d="m11.942 10.521.26-.516a4.948 4.948 0 1 0-2.145 2.17l.523-.27 1.886.519zm-1.193 2.986a6.448 6.448 0 1 1 2.794-2.827l.767 2.789a.65.65 0 0 1-.8.798z" clip-rule="evenodd"></path></svg>
                                                                    <span class="css-1lyj6fk">14</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="css-a4sfj5 eh1ttt2">
                                                        <div class="css-kuvu0c">
                                                            <div class="css-mpgf80">
                                                                <span textcolor="#828C94" class="e80g7ye0 css-m72o2p">가구</span>
                                                            </div>
                                                        </div>
                                                        <div class="css-dn3wkw">
                                                            <div class="css-3s5q2">
                                                                <div layout="list" type="title" class="e1868rkl0 css-o67oi4">
                                                                    <span class="css-1avgy1j">러그를 다른 색으로 바꿀지 고민입니다</span>
                                                                </div>
                                                                <div layout="list" type="description" class="e1868rkl0 css-rncaf8">
                                                                    <span class="css-eonsfc">그리고 테이블 색이 안 맞아서 다른 걸로 바꾸려고 하는데 추천해 주시면 너무 감사하겠습니다… 곧 쇼파 맞은편에 검정색 미드센추리 스타일 수납장 가로로 긴 게 들어와요</span>
                                                                </div>
                                                                <div class="css-1qfcwgl">
                                                                    <div class="css-30x82r">
                                                                        <span class="e1slfuo51 css-1nz6t5q">건즈ㅡ</span>
                                                                        <span class="e1slfuo50 css-1oxvqlq e78z9x80">
                                                                        </span>
                                                                        <span class="e1slfuo51 css-1nz6t5q">18시간</span>
                                                                        <span class="e1slfuo50 css-1oxvqlq e78z9x80"></span>
                                                                        <span class="e1slfuo51 css-1nz6t5q">조회 236</span>
                                                                        <span class="e1slfuo50 css-1oxvqlq e78z9x80"></span>
                                                                    </div>
                                                                    <div class="css-30x82r">
                                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" class="ey1aqhe0 css-bsbdow"><path fill="#2F3438" fill-rule="evenodd" d="m11.942 10.521.26-.516a4.948 4.948 0 1 0-2.145 2.17l.523-.27 1.886.519zm-1.193 2.986a6.448 6.448 0 1 1 2.794-2.827l.767 2.789a.65.65 0 0 1-.8.798z" clip-rule="evenodd"></path></svg>
                                                                        <span class="css-1lyj6fk">14</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div layout="list" class="eld2w7q0 css-t0jkao">
                                                                <img src="https://prs.ohousecdn.com/apne2/content/community/v1-413303701938304.jpg?w=144" srcset="https://prs.ohousecdn.com/apne2/content/community/v1-413303701938304.jpg?w=216 1.5x,https://prs.ohousecdn.com/apne2/content/community/v1-413303701938304.jpg?w=288 2x,https://prs.ohousecdn.com/apne2/content/community/v1-413303701938304.jpg?w=432 3x" alt="게시글 미리보기 이미지" class="css-11b3fl0">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <hr height="1" class="css-1tg86jb e15zb1dk0">
                                                </div>
                                            </a>
                                        <a href="/community/posts/%EB%9F%AC%EA%B7%B8%EB%A5%BC-%EB%8B%A4%EB%A5%B8-%EC%83%89%EC%9C%BC%EB%A1%9C-%EB%B0%94%EA%BF%80%EC%A7%80-%EA%B3%A0%EB%AF%BC%EC%9E%85%EB%8B%88%EB%8B%A4-413303704252416">
                                            <div class="eh1ttt0 css-q5kvxs">
                                                <div class="css-fcukdp eh1ttt1">
                                                    <div class="css-3pjyjs">
                                                        <div class="css-1ytovu8">
                                                            <div class="css-j7qwjs">
                                                                <div class="css-kuvu0c">
                                                                    <div class="css-mpgf80">
                                                                        <span textcolor="#828C94" class="e80g7ye0 css-m72o2p">가구</span>
                                                                    </div>
                                                                </div>
                                                                <div layout="list" type="title" class="e1868rkl0 css-o67oi4">
                                                                    <span class="css-1avgy1j">러그를 다른 색으로 바꿀지 고민입니다</span>
                                                                </div>
                                                            </div>
                                                            <div layout="list" class="eld2w7q0 css-t0jkao">
                                                                <span class="css-1ecsbek">
                                                                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAQSURBVHgBAQUA+v8AAAAAAAAFAAFkeJU4AAAAAElFTkSuQmCC" class="css-1xq3tbi" alt=""></span>
                                                                </div>
                                                            </div>
                                                            <div class="css-1qfcwgl">
                                                                <div class="css-30x82r">
                                                                    <span class="e1slfuo51 css-1nz6t5q">건즈ㅡ</span>
                                                                    <span class="e1slfuo50 css-1oxvqlq e78z9x80"></span>
                                                                    <span class="e1slfuo51 css-1nz6t5q">18시간</span>
                                                                    <span class="e1slfuo50 css-1oxvqlq e78z9x80"></span>
                                                                    <span class="e1slfuo51 css-1nz6t5q">조회 236</span>
                                                                    <span class="e1slfuo50 css-1oxvqlq e78z9x80"></span>
                                                                </div>
                                                                <div class="css-30x82r">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" class="ey1aqhe0 css-bsbdow"><path fill="#2F3438" fill-rule="evenodd" d="m11.942 10.521.26-.516a4.948 4.948 0 1 0-2.145 2.17l.523-.27 1.886.519zm-1.193 2.986a6.448 6.448 0 1 1 2.794-2.827l.767 2.789a.65.65 0 0 1-.8.798z" clip-rule="evenodd"></path></svg>
                                                                    <span class="css-1lyj6fk">14</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="css-a4sfj5 eh1ttt2">
                                                        <div class="css-kuvu0c">
                                                            <div class="css-mpgf80">
                                                                <span textcolor="#828C94" class="e80g7ye0 css-m72o2p">가구</span>
                                                            </div>
                                                        </div>
                                                        <div class="css-dn3wkw">
                                                            <div class="css-3s5q2">
                                                                <div layout="list" type="title" class="e1868rkl0 css-o67oi4">
                                                                    <span class="css-1avgy1j">러그를 다른 색으로 바꿀지 고민입니다</span>
                                                                </div>
                                                                <div layout="list" type="description" class="e1868rkl0 css-rncaf8">
                                                                    <span class="css-eonsfc">그리고 테이블 색이 안 맞아서 다른 걸로 바꾸려고 하는데 추천해 주시면 너무 감사하겠습니다… 곧 쇼파 맞은편에 검정색 미드센추리 스타일 수납장 가로로 긴 게 들어와요</span>
                                                                </div>
                                                                <div class="css-1qfcwgl">
                                                                    <div class="css-30x82r">
                                                                        <span class="e1slfuo51 css-1nz6t5q">건즈ㅡ</span>
                                                                        <span class="e1slfuo50 css-1oxvqlq e78z9x80">
                                                                        </span>
                                                                        <span class="e1slfuo51 css-1nz6t5q">18시간</span>
                                                                        <span class="e1slfuo50 css-1oxvqlq e78z9x80"></span>
                                                                        <span class="e1slfuo51 css-1nz6t5q">조회 236</span>
                                                                        <span class="e1slfuo50 css-1oxvqlq e78z9x80"></span>
                                                                    </div>
                                                                    <div class="css-30x82r">
                                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" class="ey1aqhe0 css-bsbdow"><path fill="#2F3438" fill-rule="evenodd" d="m11.942 10.521.26-.516a4.948 4.948 0 1 0-2.145 2.17l.523-.27 1.886.519zm-1.193 2.986a6.448 6.448 0 1 1 2.794-2.827l.767 2.789a.65.65 0 0 1-.8.798z" clip-rule="evenodd"></path></svg>
                                                                        <span class="css-1lyj6fk">14</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div layout="list" class="eld2w7q0 css-t0jkao">
                                                                <img src="https://prs.ohousecdn.com/apne2/content/community/v1-413303701938304.jpg?w=144" srcset="https://prs.ohousecdn.com/apne2/content/community/v1-413303701938304.jpg?w=216 1.5x,https://prs.ohousecdn.com/apne2/content/community/v1-413303701938304.jpg?w=288 2x,https://prs.ohousecdn.com/apne2/content/community/v1-413303701938304.jpg?w=432 3x" alt="게시글 미리보기 이미지" class="css-11b3fl0">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <hr height="1" class="css-1tg86jb e15zb1dk0">
                                                </div>
                                            </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>