<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/notice/notice.css"
</head>
<body>
    <div class="customer-notice-list">
        <div class="myhome-nav myhome-nav--owner"></div>
            <nav class="page-navigation myhome-nav__owner">
                <ul style="transform: translateX(0px);">
                    <li class="page-navigation__item">
                       <a>문의하기</a>
                    </li>
                    <li class="page-navigation__item">
                       <a>공지사항</a>
                    </li>
                </ul>


            </nav>
    </div>
</body>
</html>