<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>기프트 샵</title>
    <link rel="stylesheet" href="/static/css/gift-shop/list.css">
    <link rel="stylesheet" href="/static/fonts/PretendardVariable.subset.12.woff2">
    <link rel="icon" type="image/png" href="/static/images/crew-station-favicon.png">
</head>
<body>
    <section id="canvas">
        <div class="product-list-wrapper">

            <!--카드 반복 부분-->
            <article class="product-card-wrapper">
                <div class="product-image-container">
                    <div class="product-limit-time-wrapper" data-endtime="2025-09-10T10:59:59">
                    </div>
                    <div class="product-image-wrapper">
                        <div class="product-image-hover">
                            <img src="https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-400472465334400.jpg?w=256&amp;h=256&amp;c=c&amp;q=50" srcset="https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-400472465334400.jpg?w=384&amp;h=384&amp;c=c&amp;q=50 1.5x,https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-400472465334400.jpg?w=512&amp;h=512&amp;c=c&amp;q=50 2x,https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-400472465334400.jpg?w=768&amp;h=768&amp;c=c&amp;q=50 3x" alt="상품-썸네일-이미지" class="product-image">
                        </div>
                    </div>
                </div>
                <div class="product-content-wrapper">
                    <div class="product-content-nickname">닉네임</div>
                    <div class="product-content-name">LED 벽시계/탁상시계/무드등/디자인 인테리어 시계</div>
                    <div class="product-content-stock">5개 남음</div>
                    <div class="product-content-price">7,000 원</div>
                    <div class="badge-list-container">
                        프랑스
                    </div>
                </div>
            </article>
            <!--카드 반복 부분-->

            <article class="product-card-wrapper">
                <div class="product-image-container">
                    <div class="product-limit-time-wrapper" data-endtime="2025-09-12T23:59:59">
                    </div>
                    <div class="product-image-wrapper">
                        <div class="product-image-hover">
                            <img src="https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-329361649815680.jpg?w=256&amp;h=256&amp;c=c&amp;q=50" srcset="https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-329361649815680.jpg?w=384&amp;h=384&amp;c=c&amp;q=50 1.5x,https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-329361649815680.jpg?w=512&amp;h=512&amp;c=c&amp;q=50 2x,https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-329361649815680.jpg?w=768&amp;h=768&amp;c=c&amp;q=50 3x" alt="상품-썸네일-이미지" class="product-image">
                        </div>
                    </div>
                </div>
                <div class="product-content-wrapper">
                    <div class="product-content-nickname">판매자닉네임</div>
                    <div class="product-content-name">판매제품명</div>
                    <div class="product-content-stock">10개 남음</div>
                    <div class="product-content-price">12,000 원</div>
                </div>
            </article>
            <article class="product-card-wrapper">
                <div class="product-image-container">
                    <div class="product-limit-time-wrapper" data-endtime="2025-09-11T05:30:10">
                    </div>
                    <div class="product-image-wrapper">
                        <div class="product-image-hover">
                            <img src="https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-329361649815680.jpg?w=256&amp;h=256&amp;c=c&amp;q=50" srcset="https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-329361649815680.jpg?w=384&amp;h=384&amp;c=c&amp;q=50 1.5x,https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-329361649815680.jpg?w=512&amp;h=512&amp;c=c&amp;q=50 2x,https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-329361649815680.jpg?w=768&amp;h=768&amp;c=c&amp;q=50 3x" alt="상품-썸네일-이미지" class="product-image">
                        </div>
                    </div>
                </div>
                <div class="product-content-wrapper">
                    <div class="product-content-nickname">닉</div>
                    <div class="product-content-name">이름</div>
                    <div class="product-content-stock">마감</div>
                    <div class="product-content-price">5,000 원</div>
                </div>
            </article>
            <article class="product-card-wrapper">
                <div class="product-image-container">
                    <div class="product-limit-time-wrapper" data-endtime="2025-09-13T07:10:06">
                    </div>
                    <div class="product-image-wrapper">
                        <div class="product-image-hover">
                            <img src="https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-329361649815680.jpg?w=256&amp;h=256&amp;c=c&amp;q=50" srcset="https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-329361649815680.jpg?w=384&amp;h=384&amp;c=c&amp;q=50 1.5x,https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-329361649815680.jpg?w=512&amp;h=512&amp;c=c&amp;q=50 2x,https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-329361649815680.jpg?w=768&amp;h=768&amp;c=c&amp;q=50 3x" alt="상품-썸네일-이미지" class="product-image">
                        </div>
                    </div>
                </div>
                <div class="product-content-wrapper">
                    <div class="product-content-nickname">닉네임</div>
                    <div class="product-content-name">제품명</div>
                    <div class="product-content-stock">6개 남음</div>
                    <div class="product-content-price">9,000 원</div>
                </div>
            </article>
            <article class="product-card-wrapper">
                <div class="product-image-container">
                    <div class="product-limit-time-wrapper" data-endtime="2025-09-20T11:40:00">
                    </div>
                    <div class="product-image-wrapper">
                        <div class="product-image-hover">
                            <img src="https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-329361649815680.jpg?w=256&amp;h=256&amp;c=c&amp;q=50" srcset="https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-329361649815680.jpg?w=384&amp;h=384&amp;c=c&amp;q=50 1.5x,https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-329361649815680.jpg?w=512&amp;h=512&amp;c=c&amp;q=50 2x,https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-329361649815680.jpg?w=768&amp;h=768&amp;c=c&amp;q=50 3x" alt="상품-썸네일-이미지" class="product-image">
                        </div>
                    </div>
                </div>
                <div class="product-content-wrapper">
                    <div class="product-content-nickname">닉네임</div>
                    <div class="product-content-name">제품명</div>
                    <div class="product-content-stock">8개 남음</div>
                    <div class="product-content-price">30,000 원</div>
                </div>
            </article>
            <article class="product-card-wrapper">
                <div class="product-image-container">
                    <div class="product-limit-time-wrapper" data-endtime="2025-09-11T14:30:00">
                    </div>
                    <div class="product-image-wrapper">
                        <div class="product-image-hover">
                            <img src="https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-361472513577024.jpg?w=256&amp;h=256&amp;c=c&amp;q=50" srcset="https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-361472513577024.jpg?w=384&amp;h=384&amp;c=c&amp;q=50 1.5x,https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-361472513577024.jpg?w=512&amp;h=512&amp;c=c&amp;q=50 2x,https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-361472513577024.jpg?w=768&amp;h=768&amp;c=c&amp;q=50 3x" alt="상품-썸네일-이미지" class="product-image">
                        </div>
                    </div>
                </div>
                <div class="product-content-wrapper">
                    <div class="product-content-nickname">닉네임</div>
                    <div class="product-content-name">제품명</div>
                    <div class="product-content-stock">3개 남음</div>
                    <div class="product-content-price">15,000 원</div>
                </div>
            </article>
            <article class="product-card-wrapper">
                <div class="product-image-container">
                    <div class="product-limit-time-wrapper" data-endtime="2025-09-11T23:59:59">
                    </div>
                    <div class="product-image-wrapper">
                        <div class="product-image-hover">
                            <img src="https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-361472513577024.jpg?w=256&amp;h=256&amp;c=c&amp;q=50" srcset="https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-361472513577024.jpg?w=384&amp;h=384&amp;c=c&amp;q=50 1.5x,https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-361472513577024.jpg?w=512&amp;h=512&amp;c=c&amp;q=50 2x,https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-361472513577024.jpg?w=768&amp;h=768&amp;c=c&amp;q=50 3x" alt="상품-썸네일-이미지" class="product-image">
                        </div>
                    </div>
                </div>
                <div class="product-content-wrapper">
                    <div class="product-content-nickname">닉네임</div>
                    <div class="product-content-name">제품명</div>
                    <div class="product-content-stock">3개 남음</div>
                    <div class="product-content-price">15,000 원</div>
                </div>
            </article>
            <article class="product-card-wrapper">
                <div class="product-image-container">
                    <div class="product-limit-time-wrapper" data-endtime="2025-09-30T10:00:00">
                    </div>
                    <div class="product-image-wrapper">
                        <div class="product-image-hover">
                            <img src="https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-361472513577024.jpg?w=256&amp;h=256&amp;c=c&amp;q=50" srcset="https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-361472513577024.jpg?w=384&amp;h=384&amp;c=c&amp;q=50 1.5x,https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-361472513577024.jpg?w=512&amp;h=512&amp;c=c&amp;q=50 2x,https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-361472513577024.jpg?w=768&amp;h=768&amp;c=c&amp;q=50 3x" alt="상품-썸네일-이미지" class="product-image">
                        </div>
                    </div>
                </div>
                <div class="product-content-wrapper">
                    <div class="product-content-nickname">닉네임</div>
                    <div class="product-content-name">제품명</div>
                    <div class="product-content-stock">3개 남음</div>
                    <div class="product-content-price">15,000 원</div>
                </div>
            </article>
            <article class="product-card-wrapper">
                <div class="product-image-container">
                    <div class="product-limit-time-wrapper" data-endtime="2025-09-14T21:20:15">
                    </div>
                    <div class="product-image-wrapper">
                        <div class="product-image-hover">
                            <img src="https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-361472513577024.jpg?w=256&amp;h=256&amp;c=c&amp;q=50" srcset="https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-361472513577024.jpg?w=384&amp;h=384&amp;c=c&amp;q=50 1.5x,https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-361472513577024.jpg?w=512&amp;h=512&amp;c=c&amp;q=50 2x,https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-361472513577024.jpg?w=768&amp;h=768&amp;c=c&amp;q=50 3x" alt="상품-썸네일-이미지" class="product-image">
                        </div>
                    </div>
                </div>
                <div class="product-content-wrapper">
                    <div class="product-content-nickname">닉네임</div>
                    <div class="product-content-name">제품명</div>
                    <div class="product-content-stock">3개 남음</div>
                    <div class="product-content-price">15,000 원</div>
                </div>
            </article>
            <article class="product-card-wrapper">
                <div class="product-image-container">
                    <div class="product-limit-time-wrapper" data-endtime="2025-09-11T23:59:59">
                    </div>
                    <div class="product-image-wrapper">
                        <div class="product-image-hover">
                            <img src="https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-361472513577024.jpg?w=256&amp;h=256&amp;c=c&amp;q=50" srcset="https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-361472513577024.jpg?w=384&amp;h=384&amp;c=c&amp;q=50 1.5x,https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-361472513577024.jpg?w=512&amp;h=512&amp;c=c&amp;q=50 2x,https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-361472513577024.jpg?w=768&amp;h=768&amp;c=c&amp;q=50 3x" alt="상품-썸네일-이미지" class="product-image">
                        </div>
                    </div>
                </div>
                <div class="product-content-wrapper">
                    <div class="product-content-nickname">닉네임</div>
                    <div class="product-content-name">제품명</div>
                    <div class="product-content-stock">3개 남음</div>
                    <div class="product-content-price">15,000 원</div>
                </div>
            </article>
            <article class="product-card-wrapper">
                <div class="product-image-container">
                    <div class="product-limit-time-wrapper" data-endtime="2025-09-10T10:59:59">
                    </div>
                    <div class="product-image-wrapper">
                        <div class="product-image-hover">
                            <img src="https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-361472513577024.jpg?w=256&amp;h=256&amp;c=c&amp;q=50" srcset="https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-361472513577024.jpg?w=384&amp;h=384&amp;c=c&amp;q=50 1.5x,https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-361472513577024.jpg?w=512&amp;h=512&amp;c=c&amp;q=50 2x,https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-361472513577024.jpg?w=768&amp;h=768&amp;c=c&amp;q=50 3x" alt="상품-썸네일-이미지" class="product-image">
                        </div>
                    </div>
                </div>
                <div class="product-content-wrapper">
                    <div class="product-content-nickname">닉네임</div>
                    <div class="product-content-name">제품명</div>
                    <div class="product-content-stock">3개 남음</div>
                    <div class="product-content-price">15,000 원</div>
                </div>
            </article>
            <article class="product-card-wrapper">
                <div class="product-image-container">
                    <div class="product-limit-time-wrapper" data-endtime="2025-09-15T10:59:59">
                    </div>
                    <div class="product-image-wrapper">
                        <div class="product-image-hover">
                            <img src="https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-361472513577024.jpg?w=256&amp;h=256&amp;c=c&amp;q=50" srcset="https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-361472513577024.jpg?w=384&amp;h=384&amp;c=c&amp;q=50 1.5x,https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-361472513577024.jpg?w=512&amp;h=512&amp;c=c&amp;q=50 2x,https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-361472513577024.jpg?w=768&amp;h=768&amp;c=c&amp;q=50 3x" alt="상품-썸네일-이미지" class="product-image">
                        </div>
                    </div>
                </div>
                <div class="product-content-wrapper">
                    <div class="product-content-nickname">닉네임</div>
                    <div class="product-content-name">제품명</div>
                    <div class="product-content-stock">3개 남음</div>
                    <div class="product-content-price">15,000 원</div>
                </div>
            </article>
            <article class="product-card-wrapper">
                <div class="product-image-container">
                    <div class="product-limit-time-wrapper" data-endtime="2025-09-20T23:59:59">
                    </div>
                    <div class="product-image-wrapper">
                        <div class="product-image-hover">
                            <img src="https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-361472513577024.jpg?w=256&amp;h=256&amp;c=c&amp;q=50" srcset="https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-361472513577024.jpg?w=384&amp;h=384&amp;c=c&amp;q=50 1.5x,https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-361472513577024.jpg?w=512&amp;h=512&amp;c=c&amp;q=50 2x,https://prs.ohousecdn.com/apne2/any/uploads/commerce/store/deal/v1-361472513577024.jpg?w=768&amp;h=768&amp;c=c&amp;q=50 3x" alt="상품-썸네일-이미지" class="product-image">
                        </div>
                    </div>
                </div>
                <div class="product-content-wrapper">
                    <div class="product-content-nickname">닉네임</div>
                    <div class="product-content-name">제품명</div>
                    <div class="product-content-stock">3개 남음</div>
                    <div class="product-content-price">15,000 원</div>
                </div>
            </article>

        </div>
    </section>
    <!-- 스크롤 탑 버튼 -->
    <button type="button" class="scroll-top-button-container" id="scrollTopBtn">
        <span class="scroll-top-button-wrapper">
            <span class="scroll-top-button">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M12 19V5M5 12l7-7 7 7" 
                          stroke="currentColor" stroke-width="2" 
                          stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
            </span>
        </span>
    </button>
    <script src="/static/js/gift-shop/list/event.js"></script> 
</body>
</html>