<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crew Station</title>
    <link rel="stylesheet" href="/static/css/gift-shop/write.css">
    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="icon" type="image/png" href="/static/images/crew-station-favicon.png">
</head>
<body>
    <div class="page">
        <form>
            <div class="page-container">
                <main class="main-container">
                <!-- 서브 헤더 -->
                <header>
                    <div class="gift-shop-write-header-container">
                      <div class="gift-shop-write-header-wrapper">
                        <img class="gift-shop-write-header-icon" src="/static/images/CREW-STATION.png">
                        <div class="gift-shop-write-header-btn-wrapper">
                          <button class="gift-shop-write-header-btn">올리기</button>
                        </div>
                      </div>
                    </div>
                  </header>
                  
                  <!-- 글 작성하기 메뉴 -->
                  <div class="layout-navigation-secondary">
                    <div class="header-container">
                      <div class="header-wrapper">
                        <nav class="header-wrap">
                          <span class="header-list-wrapper">
                            <div class="header-list-wrap">
                              <a class="header-category active" href="/">
                                <div class="category">
                                  <p class="header-name-check">글 작성하기</p>
                                </div>
                              </a>
                            </div>
                          </span>
                        </nav>
                      </div>
                    </div>
                  </div>
                        </div>
                    </header>
                </main>
            </div>
        </form>
    </div>
    
</body>
</html>