<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crew Station</title>
    <link rel="shortcut icon" href="../../../static/images/crew-station-favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../../../static/css/font.css">
    <link rel="stylesheet" href="../../../static/css/mypage/my-diary/list.css">
</head>
<body>
     <div class="all">
        <div class="myhome-nav">
            <nav class="page-navigation">
                <ul>
                    <li class="page-navigation__item">
                        <a href="">
                            나의 다이어리
                        </a>
                    </li>
                    <li class="page-navigation__item">
                        <a href="">
                            나의 크루 구하기
                        </a>
                    </li>
                    <li class="page-navigation__item">
                        <a href="">
                            나의 크루 목록
                        </a>
                    </li>
                    <li class="page-navigation__item">
                        <a href="" class="active">
                            나의 활동
                        </a>
                    </li>
                    <li class="page-navigation__item">
                        <a href="">
                            나의 구매 내역
                        </a>
                    </li>
                    <li class="page-navigation__item">
                        <a href="">
                            나의 판매 내역
                        </a>
                    </li>
                    <li class="page-navigation__item">
                        <a href="">
                            나의 문의
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <main class="main">
            <div class="header">
                <div class="title">
                    <p class="title-p">나의 다이어리</p>
                    <div class="share-button">
                        <div class="drop-down">
                            <button class="share-button-style">
                                <span class="share-icon">
                                </span>
                                <span class="share-text">공유하기</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="profile-wrap">
                    <a href="">
                        <img class="profile-img" src="../../../static/images/crew-station-icon-profile.png">
                        <span class="profile-name">CREW_STATION</span>
                    </a>
                </div>
            </div>
            <div class="sticky-container">
                <div style="position: relative;">
                    <div class="nav-wrap">
                        <nav>
                            <button class="nav-button active">
                                <div class="p-wrap">
                                    <p class="tag-name">댓글(26)</p>
                                </div>
                            </button>
                            <button class="nav-button">
                                <div class="p-wrap">
                                    <p class="tag-name">좋아요(16)</p>
                                </div>
                            </button>
                        </nav>
                        <hr class="nav-hr">
                    </div>
                </div>
            </div>
            <div class="sticky-container">
                <div style="position: relative;">
                    <div class="nav-footer">
                        <div class="update">
                            <span class="total">
                                <span class="check-number">0 </span>
                                / 
                                <span class="total-number"> 5</span>
                            </span>
                            <div class="button-wrap">
                                <button class="update-button">
                                    편집
                                </button>
                                <div class="update-div">
                                    <button class="remove" disabled>삭제</button>
                                    <button class="cancle">취소</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <div class="toast hide" style="display: none;">
        <div class="toast-wrap">
            <p class="toast-text">클립보드에 복사되었습니다.</p>
        </div>
    </div>
</body>
<script src="../../../static/js/mypage/my-diary/list/event.js"></script>
</html>