<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crew Station</title>
    <link rel="shortcut icon" href="../../../static/images/crew-station-favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../../../static/css/font.css">
    <link rel="stylesheet" href="../../../static/css/mypage/my-active/reply.css">
</head>
<body>
     <div class="all">
        <div class="myhome-nav">
            <nav class="page-navigation">
                <ul>
                    <li class="page-navigation__item">
                        <a href="">
                            나의 다이어리
                        </a>
                    </li>
                    <li class="page-navigation__item">
                        <a href="">
                            나의 크루 구하기
                        </a>
                    </li>
                    <li class="page-navigation__item">
                        <a href="">
                            나의 크루 목록
                        </a>
                    </li>
                    <li class="page-navigation__item">
                        <a href="" class="active">
                            나의 활동
                        </a>
                    </li>
                    <li class="page-navigation__item">
                        <a href="">
                            나의 구매 내역
                        </a>
                    </li>
                    <li class="page-navigation__item">
                        <a href="">
                            나의 판매 내역
                        </a>
                    </li>
                    <li class="page-navigation__item">
                        <a href="">
                            나의 문의
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <main class="main">
            <div class="header">
                <div class="title">
                    <p class="title-p">나의 다이어리</p>
                    <div class="share-button">
                        <div class="drop-down">
                            <button class="share-button-style">
                                <span class="share-icon">
                                </span>
                                <span class="share-text">공유하기</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="profile-wrap">
                    <a href="">
                        <img class="profile-img" src="../../../static/images/crew-station-icon-profile.png">
                        <span class="profile-name">CREW_STATION</span>
                    </a>
                </div>
            </div>
            <div class="sticky-container">
                <div style="position: relative;">
                    <div class="nav-wrap">
                        <nav>
                            <button class="nav-button active">
                                <div class="p-wrap">
                                    <p class="tag-name">댓글(26)</p>
                                </div>
                            </button>
                            <button class="nav-button">
                                <div class="p-wrap">
                                    <p class="tag-name">좋아요(16)</p>
                                </div>
                            </button>
                        </nav>
                        <hr class="nav-hr">
                    </div>
                </div>
            </div>
            <section class="main-section">
                <section class="inquiry-container">
                    <div class="inquiry-wrap">
                        <article class="inquiry">
                            <div class="inquiry-header">
                                <span class="status active">답변완료</span>
                                <span class="date"></span>
                            </div>
                            <h1 class="inquiry-content">
                                <span class="q-icon">Q</span>
                                <div class="inquiry-title-text">게시물 작성이 안되는데 이거 왜 이런건가요?</div>
                            </h1>
                            <div class="inquiry-content-text">게시물 작성이 안돼요. 어쩌구 저쩌구 어랜ㄹ눙ㄹ머룿모리ㅏ모취모ㅑㅗㅍ미ㅏㅊ히ㅣㅏㅓㅗ디투ㅗㄹㅎㅍㄹㅎㄴ대헤ㅜㅐㄴ샿푸ㅐㅔㄷ객ㄷ쉐ㅐㅁㅍ갯풰ㅐㄱ세ㅐ돞세ㅐㄱ데샢 덱샤댜ㅓㄱㅅ페ㅐㅑㄷ겟ㅍ데ㅐㅔㄴㄷ풰ㅐ스ㅔ낻ㅊ거ㅊㄹ ㅕ뇌ㅗ</div>
                            <div class="answer active">
                                <div class="answer-container">sdkfnslgn
sdflksnksf
                                </div>
                            
                                <div class="more-status">
                                    <span class="writer">크루스테이션</span>
                                    <span class="point">·</span>
                                    <span class="writer">2025.03.31</span>
                                </div>
                            </div>
                            <button class="remove">삭제</button>
                        </article>
                    </div>
                </section>
            </section>
        </main>
    </div>
    <div class="toast hide" style="display: none;">
        <div class="toast-wrap">
            <p class="toast-text">클립보드에 복사되었습니다.</p>
        </div>
    </div>
</body>
<script src="../../../static/js/mypage/my-active/reply/event.js"></script>
</html>